In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
file=pd.ExcelFile("Exchange rate.xlsx")
df1=pd.read_excel(file,"annual")
df1.head()

,Period,Afghanistan,Angola,Albania,United Arab Emirates,Argenti0,Armenia,Developing Asia,Antigua and Barbuda,Australia,...,St. Vincent and the Gre0dines,"Venezuela, RB",Viet0m,Vanuatu,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1989,0.0,0.000,0.0000,3.675000,0.000000,0.0,213.1695,0.00000,1.262848,...,0.0,0.0,0.00,0.0000,85.26528,0.0,0.00000,2.621661,0.0,0.0
1,1990,0.0,0.000,0.0000,3.674964,0.000000,0.0,242.0275,0.00000,1.279588,...,0.0,0.0,0.00,0.0000,90.01011,0.0,0.00000,2.587400,0.0,0.0
2,1991,0.0,0.000,0.0000,3.675188,0.000000,0.0,282.4442,0.00000,1.283241,...,0.0,0.0,0.00,0.0000,89.66550,0.0,0.00000,2.759186,0.0,0.0
3,1992,0.0,0.000,0.0000,3.673874,0.991757,0.0,290.6883,0.00000,1.361321,...,0.0,0.0,0.00,0.0000,91.20521,0.0,0.00000,2.853479,0.0,0.0
4,1993,0.0,4903.561,110.0993,3.675296,0.998979,0.0,299.6200,2.69682,1.471305,...,0.0,0.0,10698.57,122.3616,91.83828,0.0,16.48504,3.269305,0.0,0.0

# New Section

In [ ]:
df2=pd.read_excel(file,"monthly")
df2.head()

,Period,Afghanistan,Angola,Albania,United Arab Emirates,Argenti0,Armenia,Developing Asia,Antigua and Barbuda,Australia,...,St. Vincent and the Gre0dines,"Venezuela, RB",Viet0m,Vanuatu,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1988M12,0.0,0.0,0.0,3.675,0.0,0.0,190.3592,0.0,1.164807,...,0.0,0.0,0.0,0.0,76.76546,0.0,0.0,2.349682,0.0,0.0
1,1989M01,0.0,0.0,0.0,3.675,0.0,0.0,191.0076,0.0,1.148810,...,0.0,0.0,0.0,0.0,77.67523,0.0,0.0,2.385500,0.0,0.0
2,1989M02,0.0,0.0,0.0,3.675,0.0,0.0,191.9781,0.0,1.169614,...,0.0,0.0,0.0,0.0,77.53630,0.0,0.0,2.458750,0.0,0.0
3,1989M03,0.0,0.0,0.0,3.675,0.0,0.0,193.4470,0.0,1.223637,...,0.0,0.0,0.0,0.0,78.12339,0.0,0.0,2.539391,0.0,0.0
4,1989M04,0.0,0.0,0.0,3.675,0.0,0.0,195.0895,0.0,1.243114,...,0.0,0.0,0.0,0.0,78.43185,0.0,0.0,2.548200,0.0,0.0

In [ ]:
df2["Period"]=pd.to_datetime(df2["Period"],format="%YM%m").dt.strftime("%Y-%m-%d")
df2["Period"]

0      1988-12-01
1      1989-01-01
2      1989-02-01
3      1989-03-01
4      1989-04-01
          ...
355    2018-07-01
356    2018-08-01
357    2018-09-01
358    2018-10-01
359    2018-11-01
Name: Period, Length: 360, dtype: object

In [ ]:
df2.head()

,Period,Afghanistan,Angola,Albania,United Arab Emirates,Argenti0,Armenia,Developing Asia,Antigua and Barbuda,Australia,...,St. Vincent and the Gre0dines,"Venezuela, RB",Viet0m,Vanuatu,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1988-12-01,0.0,0.0,0.0,3.675,0.0,0.0,190.3592,0.0,1.164807,...,0.0,0.0,0.0,0.0,76.76546,0.0,0.0,2.349682,0.0,0.0
1,1989-01-01,0.0,0.0,0.0,3.675,0.0,0.0,191.0076,0.0,1.148810,...,0.0,0.0,0.0,0.0,77.67523,0.0,0.0,2.385500,0.0,0.0
2,1989-02-01,0.0,0.0,0.0,3.675,0.0,0.0,191.9781,0.0,1.169614,...,0.0,0.0,0.0,0.0,77.53630,0.0,0.0,2.458750,0.0,0.0
3,1989-03-01,0.0,0.0,0.0,3.675,0.0,0.0,193.4470,0.0,1.223637,...,0.0,0.0,0.0,0.0,78.12339,0.0,0.0,2.539391,0.0,0.0
4,1989-04-01,0.0,0.0,0.0,3.675,0.0,0.0,195.0895,0.0,1.243114,...,0.0,0.0,0.0,0.0,78.43185,0.0,0.0,2.548200,0.0,0.0

In [ ]:
file=pd.ExcelFile("CPI Data.xlsx")
df3=pd.read_excel(file,"annual")
df4=pd.read_excel(file,"monthly")

In [ ]:
import numpy as np
import pandas as pd
null_percentages = df3.isnull().sum() / len(df3)* 100
pd.DataFrame({"column_name":df3.columns,"null_percentage":null_percentages})
df3.rename(columns={"Unnamed: 0":"Period"},inplace=True)
df3.head()

,Period,Afghanistan,Albania,United Arab Emirates,Armenia,Developing Asia,Antigua and Barbuda,Austria,Azerbaijan,Burundi,...,Uruguay,United States,St. Vincent and the Grenadines,"Venezuela, RB",Vietnam,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia
0,1989,NaN,NaN,NaN,NaN,35.24378,NaN,64.49682,NaN,NaN,...,1.036480,57.21002,NaN,0.301840,NaN,49.71672,NaN,NaN,21.32035,0.119036
1,1990,NaN,NaN,NaN,NaN,36.50166,NaN,66.60120,NaN,NaN,...,2.202740,60.29819,NaN,0.424556,NaN,52.16386,NaN,NaN,24.35065,0.222201
2,1991,NaN,NaN,NaN,NaN,38.06775,NaN,68.85522,NaN,NaN,...,4.446092,62.85179,NaN,0.569776,NaN,54.75251,NaN,NaN,28.05435,0.452338
3,1992,NaN,NaN,NaN,0.019203,40.46016,NaN,71.59559,NaN,NaN,...,7.488435,64.75546,NaN,0.748814,NaN,56.90573,NaN,NaN,31.99856,1.174491
4,1993,NaN,NaN,NaN,0.326774,45.49808,NaN,74.24242,NaN,13.03742,...,11.539000,66.66682,NaN,1.034275,NaN,59.44683,46.15621,NaN,35.08899,3.325080

In [ ]:
df3.fillna(0,inplace=True)

In [ ]:
df4=pd.read_excel(file,"monthly")
df4.rename(columns={"Unnamed: 0":"Period"},inplace=True)
df4["Period"] = pd.to_datetime(df4["Period"], format="%YM%m").dt.strftime("%Y-%m-%d")

In [ ]:
df4.fillna(0,inplace=True)

In [ ]:
file=pd.ExcelFile("/content/Exports Merchandise.xlsx")
df5=pd.read_excel(file,"annual")
df6=pd.read_excel(file,"monthly")
df7=pd.read_excel(file,"quarterly")

In [ ]:
df5.fillna(0,inplace=True)
df6.fillna(0,inplace=True)
df7.fillna(0,inplace=True)

In [ ]:
df5.head()

,Period,Argentina,Developing Asia,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,Singapore,Sub-Saharan Africa developing,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members)
0,1991,22191.58,0.0,80560.51,0.0,53953.57,0.0,0.0,0.0,0.0,...,47745.83,0.0,0.0,66384.82,44867.88,51.61588,64603.98,0.0,528704.3,0.0
1,1992,22254.20,0.0,85549.90,0.0,63269.99,0.0,0.0,0.0,0.0,...,51734.70,0.0,0.0,66534.56,50383.36,89.88207,68509.85,0.0,561466.6,0.0
2,1993,24153.33,0.0,90912.32,0.0,73589.75,0.0,0.0,0.0,0.0,...,61247.96,0.0,0.0,72278.16,57262.15,156.75590,71342.15,0.0,579401.9,0.0
3,1994,28583.86,0.0,96492.75,0.0,75080.52,0.0,0.0,0.0,0.0,...,78650.06,0.0,0.0,83427.53,66941.26,521.16430,77694.99,0.0,625109.1,4948934.0
4,1995,35332.53,0.0,99382.24,296008.8,70497.63,0.0,0.0,0.0,0.0,...,91012.18,0.0,0.0,90334.67,76568.04,837.45090,87338.68,0.0,679022.4,5375153.0

In [ ]:
df6.head()
df6["Period"]=pd.to_datetime(df6["Period"],format="%YM%m").dt.strftime("%Y-%m-%d")
df6["Period"]

0      1991-01-01
1      1991-02-01
2      1991-03-01
3      1991-04-01
4      1991-05-01
          ...
328    2018-05-01
329    2018-06-01
330    2018-07-01
331    2018-08-01
332    2018-09-01
Name: Period, Length: 333, dtype: object

In [ ]:
df7.head()

,Period,Argentina,Developing Asia,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,Singapore,Sub-Saharan Africa developing,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members)
0,1991Q1,4416.531,0.0,18101.60,0.0,13168.76,0.0,0.0,0.0,0.0,...,11251.91,0.0,0.0,16794.79,10477.56,9.175394,14286.69,0.0,128363.7,0.0
1,1991Q2,6318.661,0.0,20387.41,0.0,14826.59,0.0,0.0,0.0,0.0,...,12001.44,0.0,0.0,17536.09,10505.70,10.675940,16374.93,0.0,134818.8,0.0
2,1991Q3,6371.975,0.0,20408.96,0.0,12690.13,0.0,0.0,0.0,0.0,...,12429.65,0.0,0.0,14657.51,12132.41,13.381980,17147.92,0.0,127887.5,0.0
3,1991Q4,5084.412,0.0,21662.54,0.0,13268.09,0.0,0.0,0.0,0.0,...,12062.84,0.0,0.0,17396.43,11752.21,18.382570,16794.44,0.0,137634.3,0.0
4,1992Q1,4724.392,0.0,19736.18,0.0,13636.11,0.0,0.0,0.0,0.0,...,11953.98,0.0,0.0,17557.24,11931.11,17.588660,16101.55,0.0,139734.4,0.0

In [69]:
df1.to_excel("ER1.xlsx")
df2.to_excel("ER2.xlsx")
df3.to_excel("CPI1.xlsx")
df4.to_excel("CPI2.xlsx")
df5.to_excel("EM1.xlsx")
df6.to_excel("EM2.xlsx")
df7.to_excel("EM3.xlsx")